services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.32.0
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - 9090:9090
    restart: always
    volumes:
      - ./prometheus-cfg.yml:/etc/prometheus/prometheus.yml
      - prometheus-volume:/prometheus
  grafana:
    container_name: grafana
    image: grafana/grafana:8.3.3
    ports:
      - 3000:3000
    restart: always
    volumes:
      - grafana-volume:/var/lib/grafana

volumes:
  prometheus-volume:
    name: prometheus-volume
  grafana-volume:
    name: grafana-volume
